<div class="container">
   <div class="panel panel-default">
    <div class="panel-body">
      <h3> FLIGHT DETAILS</h3><br>
      <h4>Flight SA405</h4>
      <h3>Johannesburg(JNB) <span>&#8594;</span> London Heathrow(LHR)</h3>
      &nbsp;
      <div class="row1">
        <div class="col-sm-6">
          <h5><b>DEPARTURE</b></h5>
          <h6>Date: <b>18 May</b></h6>
          <h6>Time: <b>06:44</b></h6>
          <h6>From: <b>Johannesburg,SA</b></h6>
          <h6>Terminal: <b>Johannesbur Tambo, JNB</b></h6>

        </div>
        <div class="col-sm-6">
          <h5><b>ARRIVAL</b></h5>
          <h6>Date:  <b>18 May</b></h6>
          <h6>Time:  <b>19:02</b></h6>
          <h6>To: <b>London, UK</b></h6>
          <h6>Terminal: <b>London Heathrow Airport(LHR)</b></h6>
        </div>
      </div>
      &nbsp;
      <div class="row2">
        <div class="col-sm-6">
          <h5><b>FLIGHT DETAILS</b></h5>
          <h6>Operating Airline: <b>Success Air Airlines</b></h6>
          <h6> Flight Number: <b>SA405</b></h6>
          <h6>Total Travel Time: <b>13h 18m</b></h6>
          <h6>Number of Stops: <b>0</b></h6>
          <h6>Airplane Type: <b>Boeing 747-81</b></h6>
        </div>
        <div class="col-sm-6">
          <h5><b>ON-TIME PERFORMANCE</b></h5>
          <h6>On-Time: <b>88%</b></h6>
          <h6>Late: <b>12%</b></h6>
          <h6>Cancelled: <b>0%</b></h6>
        </div>
      </div>

      <div class="row3">
        <div class="col-sm-8">&nbsp;
          <h5><b>AMENITIES</b></h5>
          <h6>Food and Beverages: <b>In-Flight Entertainment</b></h6>
          <h6>Booking Changes: <b>Priority Boarding</b></h6>
        </div>
      </div>

    </div>
     &nbsp;
     <div class="btn"><br>
       <button class="btn btn-primary">OK</button>
     </div>

  </div>
</div>
